@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Barlow', sans-serif;
    @apply bg-gray-50 text-gray-800 antialiased;
  }

  h1, h2, h3, h4 {
    font-family: 'Barlow Condensed', sans-serif;
  }

  code, .font-mono {
    font-family: 'Space Mono', monospace;
  }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    @apply bg-gray-100;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded-full;
  }
}
